.existbodyContainer {
  height: 100vh;
  background: linear-gradient(120deg, white 0%, lightblue 100%);
  overflow-y: auto;
}

.existsubmitbuttom {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
  column-gap: 5em;
  margin-top: 5em;
}

.existmainbody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.existinfo {
  background-color: tomato;
  margin-left: 3em;
}
.extraformstyle {
  margin-top: 2em;
}
