.existbodyContainer {
  height: 100vh;
  background: linear-gradient(120deg, white 0%, lightblue 100%);
  overflow-y: auto;
}

.existsubmitbuttom {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
  column-gap: 4em;
  margin-top: 5em;
  padding-left: 4em;
}

.existmainbody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.existinfo {
  background-color: white;
  margin-left: 3em;
  box-shadow: 2px 2px 2px 2px gray;
  padding-left: 1%;
  padding-right: 1em;
  padding-top: 1%;
  padding-bottom: 0.5em;
  border-radius: 10%;
  height: 25em;
  width: 20em;
  overflow-y: auto;
  font-weight: bold;
}
.extraformstyle {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textdiv1 {
  margin-right: 0.5em;
  width: 7em;
}
.textdiv2 {
  width: 12em;
  align-items: left;
}

.adjustbetween {
  margin-bottom: 1em;
}
