/* this is the style for rest space of background */
.confirmDigitalFormScreenContainer {
  height: 100vh;
  background: linear-gradient(120deg, white 0%, lightblue 100%);
  overflow-y: auto;
}

/* the div contain all elements except headbar */
.confirmmDigitalFormBodyContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

/* the div contain all elements except submit button, headbar */
.confirmDigitalFormUpperViewPortContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  min-height: 30em;
  margin-left: 0.5em;
}

/* this is the style for submit buttom */
.confirmDigitalFormLowerViewPortContainer {
  display: flex;
  justify-content: center;
  margin-top: 5.5em;
  column-gap: 5em;
}

/* each row pushed div css */
.confirmDigitalFormViewProjectContainer {
  display: flex;
  /* justify-content: center; */
  background-color: white;
  width: 33%;
  margin-top: 3em;
  padding-bottom: 1em;
  padding-top: 1em;
  border-radius: 2em;
  box-shadow: 5px 5px 5px 5px #888888;
  margin-bottom: 1em;
}

.confirmDigitalFormAttributeDisplay {
  display: flex;
  flex-direction: column;
}

.viewProjectPortContainer {
  display: flex;
  justify-content: flex-start;
}

.viewProjectPortTextContainer {
  font-size: large;
  font-weight: bold;
  margin-left: 1.5em;
  overflow-wrap: break-word;
  margin-top: 0.3em;
  width: 18em;
}

.viewProjectPortDeleteButtonContainer {
  margin-left: 4em;
  margin-top: 0.6em;
  width: 4em;
}

/* the div contain all elements except rows headbar and submit button */
.confirmDigitalFormAddAttributesContainer {
  margin-left: 10%;
  margin-top: 3em;
  width: 40em;
}

/* this is the style for addattribute buttom */
.confirmDigitalFormAddAttributeButton {
  margin-top: 2em;
  margin-bottom: 0.5em;
  height: 4em;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
}

/* the div contain attribute, attribute description, plus and minus buttons*/
.addedAttributeContainer {
  margin-top: 1em;
}

/* this is the style for poped overall div if add attribute clicked */
.addedAttributeInnerBoxContainer {
  display: flex;
  justify-content: center;
  background: transparent;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1em;
  margin-top: 0.3em;
}

/* this is the style for poped text area if add attribute clicked */
.addedAttributeIDBox {
  background: whitesmoke;
  border-radius: 0.2em;
  border-width: 0.05em;
  border-color: grey;
  box-shadow: 1px 1px #888888;
}

/* add attr button */
.addMoreAttributeInput {
  position: relative;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 1em;
}
.addMoreAttributeInput:before,
.addMoreAttributeInput:after {
  content: "";
  position: absolute;
  background: #fff;
}
.addMoreAttributeInput:before {
  left: 50%;
  top: 4px;
  bottom: 4px;
  width: 2px;
  transform: translateX(-50%);
}
.addMoreAttributeInput:after {
  top: 50%;
  left: 4px;
  right: 4px;
  height: 2px;
  transform: translateY(-50%);
}
.addMoreAttributeInput:hover {
  opacity: 70%;
}

/* minus attr button */
.deleteAttributeInput {
  position: relative;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 1em;
}
.deleteAttributeInput:before,
.deleteAttributeInput:after {
  content: "";
  position: absolute;
  background: #fff;
}
.deleteAttributeInput:before {
  top: 50%;
  left: 4px;
  right: 4px;
  height: 2px;
  transform: translateY(-50%);
}
.deleteAttributeInput:hover {
  opacity: 70%;
}
