.screenContainer {
  height: 100vh;
  background: linear-gradient(89.96deg, #b0eef7 0.04%, #988faa 99.96%);
  overflow-y: auto;
}

.projectBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5em;
  margin-left: 5%;
  margin-right: 4%;
}

.viewProjectBodyText {
  font-size: larger;
  color: #000000 !important;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding-top: 3em;
}

.boxContainer {
  display: inline-flex;
  position: relative;
  border: 3px;
  margin-right: 3em;
  margin-bottom: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteButton {
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0.5em;
  z-index: 1;
  width: 12px !important;
  height: 12px !important;
  padding: 0.2em 1em 0em 0em;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.5;
  text-align: center;
  font-size: 1.8em;
  line-height: 0em;
  margin-top: 0.5em;
}

.deleteButtonText {
  padding-left: 0.3em;
}

.deleteButtonText:hover {
  font-weight: bold;
}

.boxContainer:hover {
  box-shadow: 0 0.3em 0.1em rgb(0 0 0 / 30%);
  border-radius: 5%;
}

.addIcon {
  height: 5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.addButtonContainer {
  background-color: #f4f4f4;
  border-radius: 5%;
  width: 24em;
  height: 20em;
  display: inline-flex;
  position: relative;
  border: 3px;
  margin-right: 3em;
  margin-bottom: 1.5em;
  margin-top: 0.7em;
  cursor: pointer;
}

.addButtonContainer:hover {
  box-shadow: 0.4em 0.4em #888888;
}
