/* the background color */
.container1 {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(176, 238, 247, 1) 0%,
    rgba(152, 143, 170, 1) 100%
  );
  overflow-y: auto;
}
/* the design of the title */
.textheader {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: 3em;
  justify-content: center;
}

/* the overall name div */
.namemaindiv {
  margin-top: 1em;
  margin-left: 15%;
  font-size: 1.5em;
  height: 4em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* name input div */
.namediv {
  border-color: gray;
  border-width: 1px;
  height: 2em;
  width: 50%;
  background-color: transparent;
}

/* description overall div */
.desmaindiv {
  margin-left: 5%;
  /* margin-top: 2em; */
  font-size: 1.5em;
  height: 7em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* description textarea div */
.Description {
  height: 5em;
  border-color: gray;
  border-width: 1px;
  width: 45%;
  background-color: transparent;
}

/* div design that contain: cancel button and confirm button */
.buttoncontainer {
  display: flex;
  /* justify-content: space-evenly; */
  margin-top: 2em;
  margin-right: 20%;
  gap: 30%;
  margin-left: 18%;
}

.maincontainer {
  background-color: rgba(144, 185, 219, 0.781);
  margin-left: 30%;
  margin-top: 3%;
  margin-right: 29%;
  height: 26em;
  border-width: 1px;
  border-radius: 2em;
  border-color: blueviolet;
  opacity: 70%;
}
