.bodyContainer {
  height: 57.8em;
  background: #ffd580;
}

.bodyText {
  font-size: larger;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding-top: 3em;
}

.uploadBtn {
  border-radius: 10em;
  position: relative;
}

.uploadBtn:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.descriptionText {
  font-weight: 1000;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionContainer {
  display: flex;
}

.BtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  padding-top: 4em;
  flex-wrap: wrap;
}
