.projectImage {
  height: 80px;
  width: 80px;
}

.bodyText {
  color: white;
}

.projectTitle {
  font-size: large;
}

.projectDes {
  font-size: small;
}

.projectBox {
  /* direction: row; */
  padding: 6em;
  /* flex: 3; */
  display: flex;
  width: 5em;
  /* border-spacing: px; */
}
