.projectImage {
  height: 80px;
  width: 80px;
}

.bodyText {
  color: rgb(54, 41, 41);
}

.projectBox {
  /* padding: 100px;
  flex: 3; */
  /* border-spacing: px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
