.bodyContainer {
  height: 100vh;
  background: linear-gradient(89.96deg, #b0eef7 0.04%, #988faa 99.96%);
  overflow-y: auto;
}

.projectBox {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 12px !important;
  height: 12px !important;
  padding: 0.2em 1em 1.2em 0.6em;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.5;
  text-align: center;
  font-size: 1.3em;
  line-height: 12px;
  margin-top: 0.5em;
}

.boxContainer {
  max-width: 20em;
  height: 20em;
  display: inline-flex;
  position: relative;
  border: 3px;
  margin-right: 3em;
}

.resizeImage:hover .deleteBtn {
  opacity: 1;
}

/* .bodyText1 {
  text-align: center;
}

/* .boxText1:focus,
.boxText1:hover {
  color: transparent;
}

.boxText1:focus:after,
.boxText1:hover:after {
  content: attr(data-text);
  overflow: visible;
  text-overflow: inherit;
  background: #fff;
  position: absolute;
  left: auto;
  top: auto;
  width: auto;
  max-width: 20rem;
  border: 1px solid #eaebec;
  padding: 0 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
  white-space: normal;
  word-wrap: break-word;
  display: block;
  color: black;
  margin-top: -1.25rem;
}  */
