/* this method used for  header whole div */
.container {
  box-shadow: 0.5px 0.5px gray;
  height: 7em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgb(217, 233, 188) 0%,
    rgba(9, 121, 113, 0.6180847338935574) 41%,
    rgba(0, 212, 255, 1) 100%
  );
}

.imgOnLeft {
  padding-top: 2em;
  padding-left: 0.5em;
}

.menuOnRight {
  padding-top: 0.2em;
}

.textOnCenter {
  text-align: center;
  padding-top: 1.2em;
  padding-right: 5.5em;
  color: blanchedalmond;
  font-weight: bolder;
  font-size: xx-large;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap; /* Keeps the content on a single line  */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens  */
  letter-spacing: 0.15em; /* Adjust as needed  */
  animation: typing 3s steps(40, end);
}

@keyframes typing {
  from {
    width: 20%;
  }
  to {
    width: 80%;
  }
} ;
