/* this method used for  header whole div */
.container {
  position: sticky;
  top: 0em;
  z-index: 10;
  height: 7em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: linear-gradient(89.96deg, #b0eef7 0.04%, #988faa 99.96%);
}

.imgOnLeft {
  padding-top: 2em;
  padding-left: 0.5em;
}

.menuOnRight {
  padding-top: 0.2em;
}

.textOnCenter {
  text-align: center;
  padding-top: 1.2em;
  padding-right: 10em;
  color: black;
  font-weight: bolder;
  font-size: xx-large;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap; /* Keeps the content on a single line  */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens  */
  letter-spacing: 0.15em; /* Adjust as needed  */
  /* animation: typing 3s steps(40, end); */
}

/* @keyframes typing {
  from {
    width: 20%;
  }
  to {
    width: 80%;
  }
} ; */
