.resizeImage {
  max-width: 20em;
  height: 20em;
  display: inline-flex;
  position: relative;
  margin-bottom: 2em;
  margin-left: 4.5em;
}

.picture {
  border-radius: 5%;
}

.deleteBtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 12px !important;
  height: 12px !important;
  background-color: #fff;
  padding: 0.2em 1em 1.2em 0.6em;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.5;
  text-align: center;
  font-size: 15px;
  line-height: 12px;
  border-radius: 50%;
}

.resizeImage:hover .deleteBtn {
  opacity: 1;
}
